<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luck Club</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {% include "../../index.njk" %}
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.0/dist/web3.min.js"></script>
    <script src="../../js/web3.js"></script>
</body>
</html>
