---
layout: layouts/base.njk
title: Luck Club
---

{% block content %}
<h1>Welcome to the Luck Club</h1>
<button id="connectWallet">Connect Wallet</button>
<button id="createClub">Create New Club</button>
<button id="viewClubs">View Clubs</button>
<div id="clubsList"></div>
{% endblock %}
